<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/elidrissiabdelaziz/Desktop/Selinium Project1">
        <classes>
            <class name="com.sqli.testauto.AppTest">
                <methods>
                    <include name="getNespresso"/>
                    <include name="gptExercice"/>
                    <include name="getTitle"/>
                    <include name="maximizeWindowThenMinimize"/>
                    <include name="navigateTo"/>
                </methods>
            </class>
            <class name="com.sqli.testauto.cookieclicker.CookieClickerGame">
                <methods>
                    <include name="spamClicks"/>
                </methods>
            </class>
            <class name="com.sqli.testauto.instagrampages.InstagramTest">
                <methods>
                    <include name="uploadAnImageToInstagram"/>
                </methods>
            </class>
            <class name="com.sqli.testauto.nespresso.nespressopages.nespressoSetUp.NespressoSetUp">
                <methods>
                    <include name="addProductToCartWithValidQuantity"/>
                    <include name="addMachineToCartWithValidQuantity"/>
                    <include name="addMultipleMachineToCartWithValidQuantity"/>
                    <include name="addProductToCartWithValidQuantityWithHardCoding"/>
                    <include name="addMultipleProductsToCartFRWithValidQuantity"/>
                </methods>
            </class>
            <class name="com.sqli.testauto.products.capsules.CapsuleTest">
                <methods>
                    <include name="addMultipleProductsToCartWithValidQuantityInOneTest"/>
                </methods>
            </class>
            <class name="com.sqli.testauto.products.capsules.CapsuleTestLessRessources">
                <methods>
                    <include name="addProductToCartWithValidQuantityOneByOne"/>
                    <include name="addProductToCartWithValidQuantityWithHardCoding"/>
                </methods>
            </class>
            <class name="com.sqli.testauto.products.machines.MachineTest">
                <methods>
                    <include name="addMachineToCartWithValidQuantity"/>
                    <include name="addMultipleMachineToCartWithValidQuantity"/>
                </methods>
            </class>
            <class name="com.sqli.testauto.scrapingTests.ScrapTest">
                <methods>
                    <include name="getAllMachinesNames"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>